<aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <div class="user-panel">
        <div class="pull-left image">
          <img src="js/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p></p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
          <!-- search form -->
          <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
              <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </form>
          <!-- /.search form -->
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
        
            <li class="active treeview">
              <a href="/userright/views" >
                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
             </a>
            </li>
               <li class="treeview">
             <a href="#">
            <i class="fa fa-cog"></i> <span>Masters</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu" style="display: none;">
            <li><a href="/product_mast/product_mast_list"><i class="fa fa-plus"></i>Product Master</a></li>
             <li><a href="/party_mast/party_mast"><i class="fa fa-plus"></i>Party Master</a></li>
             <li><a href="/supplier_mast/supplier_mast"><i class="fa fa-plus"></i>Supplier Master</a></li>
             
            <li class="treeview">
              <a href="#"><i class="fa fa-circle-o"></i> Production
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="/machine_mast/machine_mast"><i class="fa fa-plus"></i>Machine Master</a></li>
                
                <li><a href="/manufactur_mast/manufactur_mast"><i class="fa fa-plus"></i>Manufacturer Master</a></li>
                <li><a href="/construction_mast/construction_mast"><i class="fa fa-plus"></i>Construction Master</a></li>
                <li><a href="/inserttyp_mast/inserttyp_mast"><i class="fa fa-plus"></i>Insert Type Master</a></li>
                <li><a href="/floading_mast/floading_mast"><i class="fa fa-plus"></i>Folding pattern master</a></li>
               <li><a href="/varnish_mast/varnish_mast"><i class="fa fa-plus"></i>Varnish Master</a></li>
               <li><a href="/designstyl_mast/designstyl_mast"><i class="fa fa-plus"></i>Design Style Master</a></li>
               <li><a href="/jobactivty_mast/jobactivty_mast"><i class="fa fa-plus"></i>Job Activity Master</a></li>
               {{!-- <li class="treeview">
                  <a href="#"><i class="fa fa-circle-o"></i> Level Two
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                  </a>
                  <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                  </ul>
                </li> --}}
              </ul>
            </li>
            <li class="treeview">
              <a href="#"><i class="fa fa-circle-o"></i> Stores
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
              <li><a href="/accessriestyp_mast/accessriestyp_mast"><i class="fa fa-plus"></i>Accessories Type Master</a></li>
              <li><a href="/accessubtyp_mast/accessubtyp_mast"><i class="fa fa-plus"></i>Accessories Sub Type</a></li>
              <li><a href="/accessories_mast/accessories_mast"><i class="fa fa-plus"></i>Accessories Master</a></li>
              <li><a href="/pantone_mast/pantone_mast"><i class="fa fa-plus"></i>Pantone Master</a></li>
               <li><a href="/stockpantone_mast/stockpantone_mast"><i class="fa fa-plus"></i>[Stock Item ]Pantone Master</a></li>
              <li><a href="/rackloc_mast/rackloc_mast"><i class="fa fa-plus"></i>Rack Location Master</a></li>
                {{!-- <li class="treeview">
                  <a href="#"><i class="fa fa-circle-o"></i> Level Two
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                  </a>
                  <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                  </ul>
                </li> --}}
              </ul>
            </li>
             <li class="treeview">
              <a href="#"><i class="fa fa-circle-o"></i>Maitainance
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="/maintance_mast/maintance_mast"><i class="fa fa-plus"></i>Maitainance Agency Master</a></li>
                <li><a href="/machinechecklist_mast/machinechecklist_mast"><i class="fa fa-plus"></i>Machine Check list Master</a></li>
                <li><a href="/qcequimnts_mast/qcequimnts_mast"><i class="fa fa-plus"></i>Q.C Equipments Master</a></li>
                <li><a href="/sop_mast/sop_mast"><i class="fa fa-plus"></i>SOP Master</a></li>
                
                {{!-- <li class="treeview">Q.C Equipments Master
                  <a href="#"><i class="fa fa-circle-o"></i> Level Two
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                  </a>
                  <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                  </ul>
                </li> --}}
              </ul>
            </li>
           <li class="treeview">
              <a href="#"><i class="fa fa-circle-o"></i>Transportation
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="/vehicle_mast/vehicle_mast"><i class="fa fa-plus"></i>Vehicle Master</a></li>
                <li><a href="/vehiclemaintnce_mast/vehiclemaintnce_mast"><i class="fa fa-plus"></i>Vehicle Maintainance</a></li>
                 <li><a href="/driver_mast/driver_mast"><i class="fa fa-plus"></i>Driver Master</a></li>
                 <li><a href="/trnsportagncy_mast/trnsportagncy_mast"><i class="fa fa-plus"></i>Transport Agency Master</a></li>
                {{!-- <li class="treeview">Q.C Equipments Master
                  <a href="#"><i class="fa fa-circle-o"></i> Level Two
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                  </a>
                  <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                  </ul>
                </li> --}}
              </ul>
            </li>
            <li class="treeview">
              <a href="#"><i class="fa fa-circle-o"></i>Customer Care
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="/deviation_mast/deviation_mast"><i class="fa fa-plus"></i>Investigation / Deviation  Master</a></li>
                <li><a href="/complaint_mast/complaint_mast"><i class="fa fa-plus"></i>Complaint Category Master</a></li>
                {{!-- <li class="treeview">Q.C Equipments Master
                  <a href="#"><i class="fa fa-circle-o"></i> Level Two
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                  </a>
                  <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                  </ul>
                </li> --}}
              </ul>
            </li>
             <li class="treeview">
              <a href="#"><i class="fa fa-circle-o"></i> Other
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="/country_mast/country_mast"><i class="fa fa-plus"></i>Country Master</a></li>
                 <li><a href="/state_mast/state_mast"><i class="fa fa-plus"></i>State Master</a></li>
                <li><a href="/city_mast/city_mast"><i class="fa fa-plus"></i>City Master</a></li>
                <li><a href="/employee_mast/employee_mast"><i class="fa fa-plus"></i>Employee Master</a></li>
                 <li><a href="/party_type_mast/party_type_mast"><i class="fa fa-plus"></i>Party Type Master</a></li>
                <li><a href="/product_type_mast/product_type_mast"><i class="fa fa-plus"></i>Product Type Master</a></li>
                <li><a href="/departmnt_mast/departmnt_mast"><i class="fa fa-plus"></i>Department Master</a></li>
                {{!-- <li class="treeview">
                  <a href="#"><i class="fa fa-circle-o"></i> Level Two
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                  </a>
                  <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                  </ul>
                </li> --}}
              </ul>
            </li>
          </ul>
        </li>
        <li class="treeview">
             <a href="#">
            <i class="fa fa-share"></i> <span>TRANSACTIONS</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu" style="display: none;">
             <li class="treeview">
              <a href="#"><i class="fa fa-circle-o"></i> Production
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="/newjobentry/newjobentry"><i class="fa fa-plus"></i>New Job Entry</a></li>
                <li><a href="/newjobentry/newjobentry_list"><i class="fa fa-plus"></i>Job List</a></li>
                {{!-- <li><a href="/jobprocessentry/jobprocessentry"><i class="fa fa-plus"></i>Job Process Entry</a></li> --}}
                 <li><a href="/jobprocessentry/jobprocessentry_list"><i class="fa fa-plus"></i>Job Process Entry</a></li>
                <li><a href="#"><i class="fa fa-plus"></i>Scan Jobs</a></li>
                <li><a href="#"><i class="fa fa-plus"></i>Machine Status</a></li>
              </ul>
            </li>
             <li class="treeview">
              <a href="#"><i class="fa fa-circle-o"></i> Store
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                {{!-- <li><a href="/accessories_recepit_note/accessories_recepit_note"><i class="fa fa-plus"></i>Accessories Recepit Note </a></li> --}}
                <li><a href="/accessories_recepit_note/accessories_recepit_note_list"><i class="fa fa-plus"></i>Accessories Recepit Note</a></li>
                {{!-- <li><a href="/accessories_issue_note/accessories_issue_note"><i class="fa fa-plus"></i>Accessories Issue Note</a></li> --}}
                <li><a href="/accessories_issue_note/accessories_issue_note_list"><i class="fa fa-plus"></i>Accessories Issue Note</a></li>
                <li><a href="/ink_preparation/ink_preparation_list"><i class="fa fa-plus"></i>Ink Preparation</a></li>
              </ul>
            </li>
             <li class="treeview">
              <a href="#"><i class="fa fa-circle-o"></i> Plate
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="/plate_issuance_note/plate_issuance_note_list"><i class="fa fa-plus"></i>Plate Issuance Note</a></li>
                 <li><a href="/plate_preparation_report/plate_preparation_report_list"><i class="fa fa-plus"></i>Plate Preparation Report</a></li>
                 <li><a href="/plate_receval_note/plate_receval_note_list"><i class="fa fa-plus"></i>Plate Receival Note</a></li>
                  <li><a href="/detruction_note_entry/detruction_note_entry"><i class="fa fa-plus"></i>Destruction Note Entry</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="treeview">
             <a href="#">
            <i class="fa fa-share"></i> <span>SCREENING</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu" style="display: none;">
            <li><a href="#"><i class="fa fa-plus"></i></a></li>
             {{!-- <li class="treeview">
              <a href="#"><i class="fa fa-circle-o"></i> Production
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-plus"></i>New Job Entry</a></li>
                <li><a href="#"><i class="fa fa-plus"></i>Job List</a></li>
                <li><a href="#"><i class="fa fa-plus"></i>Scan Jobs</a></li>
                <li><a href="#"><i class="fa fa-plus"></i>Machine Status</a></li>
              </ul>
            </li>
             <li class="treeview">
              <a href="#"><i class="fa fa-circle-o"></i> Store
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-plus"></i>Accessories Issue Note</a></li>
                <li><a href="#"><i class="fa fa-plus"></i>Ink Preparation</a></li>
              </ul>
            </li> --}}
          </ul>
        </li>
        <li class="treeview">
             <a href="#">
            <i class="fa fa-share"></i> <span>PRINTING</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu" style="display: none;">
            <li><a href="#"><i class="fa fa-plus"></i></a></li>
             {{!-- <li class="treeview">
              <a href="#"><i class="fa fa-circle-o"></i> Production
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-plus"></i>New Job Entry</a></li>
                <li><a href="#"><i class="fa fa-plus"></i>Job List</a></li>
                <li><a href="#"><i class="fa fa-plus"></i>Scan Jobs</a></li>
                <li><a href="#"><i class="fa fa-plus"></i>Machine Status</a></li>
              </ul>
            </li>
             <li class="treeview">
              <a href="#"><i class="fa fa-circle-o"></i> Store
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-plus"></i>Accessories Issue Note</a></li>
                <li><a href="#"><i class="fa fa-plus"></i>Ink Preparation</a></li>
              </ul>
            </li> --}}
          </ul>
        </li>
        <li class="treeview">
             <a href="#">
            <i class="fa fa-share"></i> <span>UTILIZE</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu" style="display: none;">
            <li><a href="#"><i class="fa fa-plus"></i></a></li>
             {{!-- <li class="treeview">
              <a href="#"><i class="fa fa-circle-o"></i> Production
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-plus"></i>New Job Entry</a></li>
                <li><a href="#"><i class="fa fa-plus"></i>Job List</a></li>
                <li><a href="#"><i class="fa fa-plus"></i>Scan Jobs</a></li>
                <li><a href="#"><i class="fa fa-plus"></i>Machine Status</a></li>
              </ul>
            </li>
             <li class="treeview">
              <a href="#"><i class="fa fa-circle-o"></i> Store
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-plus"></i>Accessories Issue Note</a></li>
                <li><a href="#"><i class="fa fa-plus"></i>Ink Preparation</a></li>
              </ul>
            </li> --}}
          </ul>
        </li>
        <li class="treeview">
             <a href="#">
            <i class="fa fa-share"></i> <span>SETTING</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu" style="display: none;">
              <li><a href="/userright/userright"><i class="fa fa-circle-o"></i>User Right</a></li> 
              <li><a href="/userright/admin_list"><i class="fa fa-circle-o"></i>User List</a></li>
              <li><a href="/security_right/security_right"><i class="fa fa-circle-o"></i>Security</a></li>
          </ul>
        </li>
            
             
             
             <!--  <a href="pages/widgets.html">
                <a href="<?php echo site_url('Site/logout'); ?>"><i class='fa fa-sign-out fa-fw'></i>Log Out</a>
              </a>
            </li> -->
                       <!--  <a href="<?php echo site_url('Site/logout'); ?>" style="float: right; color:red"><i class='fa fa-sign-out'></i>Log Out</a> -->
            
          <!--  <li class="treeview">
              <a href="#">
                <i class="fa fa-pie-chart"></i>
                <span>Charts</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="pages/charts/chartjs.html"><i class="fa fa-circle-o"></i> ChartJS</a></li>
                <li><a href="pages/charts/morris.html"><i class="fa fa-circle-o"></i> Morris</a></li>
                <li><a href="pages/charts/flot.html"><i class="fa fa-circle-o"></i> Flot</a></li>
                <li><a href="pages/charts/inline.html"><i class="fa fa-circle-o"></i> Inline charts</a></li>
              </ul>
            </li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-laptop"></i>
                <span>UI Elements</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="pages/UI/general.html"><i class="fa fa-circle-o"></i> General</a></li>
                <li><a href="pages/UI/icons.html"><i class="fa fa-circle-o"></i> Icons</a></li>
                <li><a href="pages/UI/buttons.html"><i class="fa fa-circle-o"></i> Buttons</a></li>
                <li><a href="pages/UI/sliders.html"><i class="fa fa-circle-o"></i> Sliders</a></li>
                <li><a href="pages/UI/timeline.html"><i class="fa fa-circle-o"></i> Timeline</a></li>
                <li><a href="pages/UI/modals.html"><i class="fa fa-circle-o"></i> Modals</a></li>
              </ul>
            </li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-edit"></i> <span>Forms</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="pages/forms/general.html"><i class="fa fa-circle-o"></i> General Elements</a></li>
                <li><a href="pages/forms/advanced.html"><i class="fa fa-circle-o"></i> Advanced Elements</a></li>
                <li><a href="pages/forms/editors.html"><i class="fa fa-circle-o"></i> Editors</a></li>
              </ul>
            </li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-table"></i> <span>Tables</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="pages/tables/simple.html"><i class="fa fa-circle-o"></i> Simple tables</a></li>
                <li><a href="pages/tables/data.html"><i class="fa fa-circle-o"></i> Data tables</a></li>
              </ul>
            </li>-->
           <!-- <li>
              <a href="pages/calendar.html">
                <i class="fa fa-calendar"></i> <span>Calendar</span>
                <small class="label pull-right bg-red">3</small>
              </a>
            </li>
            <li>
              <a href="pages/mailbox/mailbox.html">
                <i class="fa fa-envelope"></i> <span>Mailbox</span>
                <small class="label pull-right bg-yellow">12</small>
              </a>
            </li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-folder"></i> <span>Examples</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="pages/examples/invoice.html"><i class="fa fa-circle-o"></i> Invoice</a></li>
                <li><a href="pages/examples/profile.html"><i class="fa fa-circle-o"></i> Profile</a></li>
                <li><a href="pages/examples/login.html"><i class="fa fa-circle-o"></i> Login</a></li>
           
              </ul>
            </li>-->
            
          
            
          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>